<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="SimpleHello" class="com.howellxu.simple.SimpleHello">
		<!-- <property name="talker" value="abc"></property> -->
		<constructor-arg value="abc"></constructor-arg>
		<constructor-arg ref="SimpleProp"></constructor-arg>
	</bean>
	
	<bean id="SimpleProp" class="com.howellxu.simple.SimpleProp"></bean> 
	<!-- bean工厂方式创建bean -->
	<bean id="Stage" class="com.howellxu.beanFactory.Stage" factory-method="getInstance"></bean>
	
	<import resource="spring-config-aop.xml"/>
</beans>