<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"	
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<bean id="audience" class="com.howellxu.aop.Audience"></bean>
	<bean id="actor" class="com.howellxu.aop.Actor"></bean>
	<bean id="thinker" class="com.howellxu.aop.Volunteer"></bean>
	<bean id="magician" class="com.howellxu.aop.Magician"></bean>
	
	
	<!-- 进行aop配置 -->
	<aop:config>	
	  <!-- 配置日志切面 -->
	  <aop:aspect id="asp_perform" ref="audience">	
	  <aop:pointcut expression="execution(* com.howellxu.aop.Actor.perform(..))" id="perform"/> 	  
	  <aop:around pointcut-ref="perform" method="watchPerformance"/>
	  </aop:aspect>
	  
	  <aop:aspect id="asp_thinker" ref="magician">
	  	<aop:pointcut id="thinking" 
	  		expression="execution(* com.howellxu.aop.Thinker.thinkOfSomething(String)) and args(thoughts)" />
	  	<aop:before pointcut-ref="thinking" method="interceptorThoughts" arg-names="thoughts" />
	  	
	  </aop:aspect>
	</aop:config>
	
</beans>